*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f6f6;

  button{
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
  }

  button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.4);
  }



  
}