.headerContainer {
  display: flex;
}
.headerContainer a{
  margin: 0px 20px;
  text-decoration: none;
  color: rgba(65, 61, 61, 0.83);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 5px;

    &:hover{
      color: black;
      &::after{
        background-image: url('../../../assets/hyper/icon-arrow-up.svg');
      }
    }
    &::after{
      position: absolute;
      content: ' ';
      display: block;
      background-image: url('../../../assets/hyper/icon-arrow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 100%;
      // background: no-repeat center cover;
      height: 10px;
      width: 10px;
      transition: background-image .1s ease-in;
    }
  &:nth-child(n+3){
    &::after{
      content: none;
    }
  }
}

.container{
  height: 50px;
  display: flex;
  margin: 0 3%;
  align-items: center;
  justify-content: space-between;

    .head1{
      display: flex;
      flex-direction: row;

      .logo{
        margin-right: 50px;
        cursor: pointer;
      }
    }

    .head2{
      display: flex;
      flex-direction: row;

      a{
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      .regButton{
        margin-left: 20px;

        &:hover{
          border: 1px solid black;
          border-radius: 10px;
          padding: 5px;
        }
      }
    }
}