.todoList{
  position: relative;
  height: 100vh;
  padding: 20px;

  header{
    display: flex;
    align-items: center;
    
    .icon{
      margin-right: 5px;
    }

    h3{
      margin-left: auto;
      letter-spacing: 2px;
    }
  }

  .addTaskContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    #createTodo{
      margin-right: 5px;
      padding: 0 5px;
      width: 100%;
      font-size: large;
      border-radius: 5px;
      outline: none;
    }

    button{
      width: 30%;
      padding: 3px 5px;
      margin-left: auto;
      border-radius: 10px;
      border: none;
    }
  }

  .list-desc{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  ul{
    list-style: none;

    li{
      margin: 10px 0;
      padding: 5px 10px;
      outline: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      .control{
        display: flex;
        align-items: center;

        input{
          margin-right: 10px;
          color: white;

          background-color: red;
        }
      }
    }



    
    .checked{ 
      opacity: 0.5;
      
      // input[type=checkbox]{
      //   z-index: -1;
      // }

      button{
        opacity: 1;
      }
    }

    .unchecked{
      
      touch-action: none;
    }


    .delete{
      margin-right: 5px;
      color: red;
      font-size: 20px;
    }

    .edit{
      color: green;
      font-size: 25px;
    }   
  }

  .overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(69, 69, 83, 0.842);
    z-index: 1;

    .modal{
      height: 200px;
      width: 90%;
      text-align: center;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.308);
      display: block;
      z-index: 3;

      .modal-title{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .icon{
          margin-right: 5px;
          font-size: 25px;
        }
      }
  
      input{
        padding: 5px 5px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 20px;
      }
      
      .modal-control{
        display: flex;
        justify-content: space-evenly;
    
        button{
          padding: 10px 0;
          border-radius: 5px;
          width: 100px;
        }
      }
    }
  }
}


@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}