.signup{

  .form{
    margin-bottom: 10%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p{
      margin-bottom: 10px;
      color: rgb(0 0 0);
      font-size: 700;
    }
     

    .input-item{
      // margin-bottom: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #0000004f;
      
      input{
        padding: 10px;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
        border: none;

        &::placeholder{
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }

  .signup-btn{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0.87);
  }
}